{% extends 'trackerapp/main.html' %}
{% load static %}
{% block content %}
  <div class="calculator">
    <form class="" method="POST">
      <h3>Calculate Your Profit</h3>
      <div class="form-item">
        <label for="number">Number of Turnips:</label><br>
        <input type="text" name="number" id="number" required>
      </div>
      <div class="form-item">
        <label for="buyingprice">Buying Price:</label><br>
        <input type="text" name="buyingprice" id="buying" required>
      </div>
      <div class="form-item">
        <label for="sellingprice">Selling Price:</label><br>
        <input type="text" name="sellingprice" id="selling" required>
      </div>
      <button type="button" class="sub-btn" name="button">Calculate</button>
      <div class="form-item">
        <p>Revenue</p>
      </div>
      <div class="form-item">
        <p>Expenditure</p>
      </div>
      <div class="form-item">
        <p>Profit</p>
      </div>
    </form>
  </div>
{% endblock content %}
