body {
  /* background: rgb(89,162,75);
  background: linear-gradient(90deg, rgba(89,162,75,1) 0%, rgba(150,220,89,1) 100%); */
  font-family: 'Quicksand', sans-serif;
}

#navbar {
  width: 100vw;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.25em;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
}

li img {
  max-height: 50px;
}

li a {
  text-decoration: none;
  color: #4A4A4A;
  padding-right: 3em;
  position: relative;
  transition: all ease-in-out 250ms;
}

li strong {
  color: #a24c86;
}

.nav-underline::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background: #A24C86;
  background: -webkit-linear-gradient(left, #A24C86, #755790);
  bottom: -1em;
  transition: all ease-in-out 250ms;
}

.nav-underline:hover::after {
  width: 60%;
}

.nav-underline:hover {
  background: -webkit-linear-gradient(left, #A24C86, #755790);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li:first-child {
  margin-right: auto;
  margin-left: 3em;
}
